body { 
  /*background-image: url('https://www.xmple.com/wallpaper/single-one-colour-solid-color-plain-azure-1920x1080-c-081c24-f-24.svg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* header css */
.container{
      background-color: white;
      height: 60px;
    }
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  background-color: #87ceeb;
  border: none;
  margin-top:10px;
  margin-left: 10px;
  border-radius: 25%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  display: block;
}


/* form data css */
.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
    

}
.Neon-theme-dragdropbox{  
  position: absolute;
  left: 35%;
  top: 25%;
}

#submitbutton {
    color: #fff;
    background: #048f16;
    border: none;
    width: 450px;
    height: 35px;
    margin-top: -20px;
    margin-left: 20px;
    border-radius: 4px;
    border-bottom: 4px solid #048f16;
    transition: all .2s ease;
    outline: none;
    font-size: 18px;
}
.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Neon-input-dragDrop {
    display: block;
    width: 400px;
    height: 200px;
    margin-left: 20px;
    margin: 0 auto 20px auto;
    padding: 45px;
    color: black;
    color: black;
    background: #fff;
    border: 2px dashed black;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}
.Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}
.Neon-input-text span {
    font-size: 12px;
}
.Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
}
.Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
